body, html {
    margin: 0;
    padding: 0;
    font-family: 'helvetica neue', arial, sans-serif;
    font-weight: 200;
    color: #555555;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1em;
}

header {
    padding: 1em 0;
    position: relative;
    font-size: 18px;
}

#apis{
    position: absolute;
    right: 0;
    bottom: .5em;
    margin: 0;
    list-style: none;
    text-align: right;
    padding: .5em;
    color: #666;
}

header ul li.separator:before {
    content: "|";
}

header .icon{
    display: inline-block;
}
header .mobile{
    background-image: url("https://www.paypalobjects.com/webstatic/developer/dev_icons_ribbon.png");
    background-position: -90px -124px;
    background-repeat: no-repeat;
    height: 56px;
    width: 32px;
}

header .sdk{
    background-image: url("https://www.paypalobjects.com/webstatic/developer/dev_icons_ribbon.png");
    background-position: -90px -344px;
    background-repeat: no-repeat;
    height: 56px;
    width: 40px;
}
header .api{
    background-image: url("https://www.paypalobjects.com/webstatic/developer/dev_icons_ribbon.png");
    background-position: -90px -234px;
    background-repeat: no-repeat;
    height: 56px;
    width: 42px;
}
#repos {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    padding: 1em 0 0;
}



#repos div.project {
    float: left;
    padding: .75em 3em .75em 1em;
    margin: 1em;
    border-radius: 5px;
    background: #F4F4F4;
    font-weight: 200;
    width: 200px;
    min-height: 120px;
    position: relative;

}

#repos div.project h2 {
    font-size: 30px;
    font-weight: 200;
    margin: 0;
    color: #555;
}

#repos div.project div.language {
    font-weight: bold;
    font-size: 14px;
    padding: .25em 0;
}

/*Supporte Languages*/
#repos div.javascript, #repos a {
    color: #1089cc;
}

#repos div.javascript, #repos a.javascript {
    color: #1089cc;
}

#repos div.nodeJS, #repos a.nodeJS {
    color: #3c940c;
}

#repos div.ruby, #repos a.ruby {
    color: #800341;
}

#repos div.java, #repos a.java {
    color: #df5200;
}

#repos div.project p {
    font-size: 14px;
    margin: 0.2em 0;
}

#repos div.project a.repoLink {
    position: absolute;
    bottom: .25em;
    right: .75em;
    text-decoration: none;
}
#repos div.project a.repoLink img {
    width: 32px;
}


#repos div.project a.projectLink {

}

#repos div.project a.projectLink:visited {
    color: inherit;
}

#repos div:last-of-type{
    clear: both;
}

footer{
    padding: 2em 0;
}

@media only screen and  (max-width: 640px) {
    #apis{
        position: static;
    }
    
    #repos div.project {
    float: none;
    width: auto;
    }

}
